/* todo: delete file if not needed */
body {
  background-color: #e1eacd;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #e1eacd;
  color: #01352c; /* Text color */
  padding: 1em;
  display: flex;
  justify-content: flex-end; /* Align to the right */
  margin-top: 20px; /* Add space at the top of the nav bar */
}

.navbar-nav {
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 60px 20px 30px 20px;
}

nav a {
  text-decoration: none;
  color: #01352c; /* Text color */
  font-size: 24px;
  font-family: "Lalezar", cursive;
}

.red-text {
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact_button {
  background-color: red;
  height: 45px;
  width: 158px;
  display: inline-flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}
